In [1]:
                                                            #print code
"hello world"

'hello world'

In [2]:
                                                             # Arithmatic operators
a=9
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
3
54
1.5

In [7]:
                                                            # assignment operators
a=9
a+=2
a-=1
a*=7
a/=2
print(a)

35.0

In [8]:
                                                        # comparition operators
a=9
b=6
a>b

True

In [9]:
a<b

False

In [10]:
a>=b

True

In [11]:
a<=b

False

In [14]:
                                                               #logical operators
bool1 = True
bool2 = False
print("enter the value of bool1 IS",(not bool1))

enter the value of bool1 False

In [15]:
print("enter the value of bool1 and bool2 IS",(bool1 and bool2))

enter the value of bool1 and bool2 IS False

In [16]:
print("enter the value of bool1 or bool2 IS",(bool1 or bool2))

enter the value of bool1 or bool2 IS True

In [26]:
                                                          # Type casting (string to intiger a=int(a))
a="456"
a=int(a)
type(a)

int

In [30]:
print(int("31"))
print(float(31))

31
31.0

In [28]:
str(31)

'31'

In [31]:
                                                      # Input function
a=input("enter your name")
print(a)

enter your namekavita
kavita

In [2]:
a=input("enter your name:")
print(a, "is an indian.")

enter your name:tia
tia is an indian.

In [6]:
                                                        #string operations
greeting= "Good Morning, "
name="Kavita"
print(greeting+name)

Good Morning, Kavita

In [7]:
len(greeting)

14

In [8]:
len(name)

6

In [29]:
a= "Good Morning, "                                            ###slicing operation
print(a[0:12:2])

Go onn

In [27]:
print(a[::-1])                                                 ###return string

 ,gninroM dooG

In [39]:
                                                    ##various string function
a="Once upon a time there was a beautiful kingdom."
print(len(a))
print(a.endswith("kingdom."))                          ## to find end note
print(a.count("kingdom."))                             ## count a words
print(a.capitalize())                                 ### to capitalize first alphabate
print(a.find("was"))                                  ### to find in position number
print(a.replace("kingdom","princess"))                 ## to replace

47
True
1
Once upon a time there was a beautiful kingdom.
23
Once upon a time there was a beautiful princess.

In [41]:
##practice sets
a="Good afternoon, "
b=input("enter the name")
print(a+b)

enter the nameTiara
Good afternoon, Tiara

In [4]:
##practice sets
a=input("enter your name, \n")
print("Good afternoon ")

enter your name,
kavita
Good afternoon

In [14]:
##practice sets                              #### write a latter
latter='''Dear <|NAME|>
Greetings from tata consultancy services,
you are selected!

date: <|DATE|>'''
name=input("enter the name\n")
date=input("enter the date\n")
latter=latter.replace("<|NAME|>",name)
latter=latter.replace("<|DATE|>",date)
print(latter)

enter the name
Tiara
enter the date
10 nov,2020
Dear Tiara
Greetings from tata consultancy services,
you are selected!

date: 10 nov,2020

In [22]:
                                                                         ##use of \n and \t and \\ and \'
latter= "Dear Tiara,\n\t you are so helpful\nThanks and regards,\n Kavita"
print(latter)

Dear Tiara,
	 you are so helpful
Thanks and regards,
 Kavita